.container {
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding: 50px;
  background: var(--white);
  border-radius: 30px;
}

.mobile {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.heading {
  font-size: 56px;
  font-weight: 700;
}

.paragraph {
  font-size: 16px;
  line-height: 1.5;
}

.bold {
  font-weight: 700;
}

@media (min-width: 575px) and (max-width: 1000px) {
  .container {
    margin-top: 25%;
  }
}

@media screen and (min-width: 575px) {
  .container {
    width: 500px;
  }
}

@media screen and (max-width: 575px) {
  .container {
    height: 100vh;
    justify-content: center;
    border-radius: 0;
    padding: 30px;
    padding-bottom: 50px;
    justify-content: space-between;
  }

  .mobile:first-child {
    margin-top: 130px;
  }
}
