.button {
  border: none;
  cursor: pointer;
  padding: 20px;
  border-radius: 8px;
  background: var(--slate-grey);
  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
}

@media screen and (min-width: 500px) {
  .button:hover {
    background: linear-gradient(90deg, #fe166f, transparent), #fb5e25;
  }
}
